<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br>
  <a href="https://notch.tumblr.com">Development blog</a><br>
  <a href="https://www.facebook.com/minecraft">Minecraft&nbsp;on&nbsp;Facebook</a><br>
  <a href="https://jinx.com/minecraft.aspx">Merchandise</a><br>
  <h2>Community links:</h2>
  <a href="http://minecraftforum.net/">Minecraft&nbsp;Forums</a><br>
  <h2>Mojang on Twitter:</h2>
  <a href="https://twitter.com/carlmanneh">Carl Manneh</a>(ceo!)<br>
  <a href="https://twitter.com/danfrisk">Daniel Frisk</a>(code!)<br>
  <a href="https://twitter.com/kappische">Daniel Kaplan</a>(bizdev!)<br>
  <a href="https://twitter.com/jahkob">Jakob Porser</a>(code!)<br>
  <a href="https://twitter.com/jeb_">Jens Bergensten</a>(code!)<br><br>
  <a href="https://twitter.com/jnkboy">Junkboy</a>(art!)<br>
  <a href="https://twitter.com/Notch">Markus Persson</a(code!)<br>
  <a href="https://twitter.com/mollstam">Tobias Mollstam</a>(code!)<br>
</td>
