<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br>
  <a href="http://notch.tumblr.com/">Development blog</a><br>
  <a href="http://www.facebook.com/minecraft">Minecraft on Facebook</a><br>
  <a href="http://jinx.com/minecraft.aspx">Merchandise</a><br>
  <h2>Community links:</h2>
  <a href="http://minecraftforum.net/">Minecraft Forums</a><br>
  <h2>Mojang on Twitter:</h2>
  <a href="http://twitter.com/carlmanneh">Carl Manneh (ceo!)</a><br>
  <a href="http://twitter.com/danfrisk">Daniel Frisk (code!)</a><br>
  <a href="http://twitter.com/kappische">Daniel Kaplan (bizdev!)</a><br>
  <a href="http://twitter.com/jahkob">Jakob Porser (code!)</a><br>
  <a href="http://twitter.com/jeb_">Jens Bergensten (code!)</a><br>
  <a href="http://twitter.com/jnkboy_">Junkboy (art!)</a><br>
  <a href="http://twitter.com/Notch">Markus Persson (code!)</a><br>
  <a href="http://twitter.com/mollstam">Tobias Mollstam (code!)</a><br>
</td>
