<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br>
  <a href="https://minecraft.net/realms">Minecraft Realms</a><br>
  <a href="https://discordapp.com/invite/minecraft">Minecraft Discord</a><br>
  <a href="https://findmcserver.com">Minecraft Server List</a><br>
  <a href="https://shop.minecraft.net/">Merchandise</a><br><br>
  <a href="https://bugs.mojang.com/">Bug tracker</a><br>
  <a href="https://help.minecraft.net/">Help & Support</a><br><br>
  <a href="https://twitter.com/Minecraft">Minecraft on Twitter</a><br>
  <a href="https://twitter.com/MojangStatus">Mojang Status on Twitter</a><br><br>
  <b>Try Mojang's other games!</b><br>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/about-dungeons"><img src="https://ragedmeteor1837.github.io/mcnews/img/logo-dungeons.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/about-legends"><img src="https://ragedmeteor1837.github.io/mcnews/img/logo_legends.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/about-dungeons-ii"><img src="https://ragedmeteor1837.github.io/mcnews/img/logo-dungeons_ii.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="http://scrolls.com/"><img src="http://assets.mojang.com/scrolls/scrolls_logo_150.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="http://playcobalt.com/?utm_source=mcl"><img src="http://assets.mojang.com/cobalt/cobalt_logo_150.png"  border="0"></a>
  <h2>Community links:</h2>
  <a href="https://www.minecraftforum.net/">Minecraft&nbsp;Forums</a><br>
  <a href="https://minecraft.wiki">Minecraft Wiki</a><br>
  <a href="https://www.youtube.com/channel/UCQvWX73GQygcwXOTSf_VDVg">Minecraft on Youtube</a><br>
  <a href="https://www.twitch.tv/directory/category/minecraft">Minecraft on Twitch.tv</a><br>
</td>
